In [ ]:
import pandas as pd
from keras.layers import Bidirectional, GlobalMaxPool1D, MaxPooling1D, Add, Flatten

In [ ]:
data=pd.read_csv("/content/MTPOF.csv")

In [ ]:
data.head()

         Date     Open     High      Low    Close  Adj Close  Volume
0  2020-01-02  1.15929  1.15929  1.15929  1.15929  -0.058897       0
1  2020-01-03  1.15929  1.15929  1.15929  1.15929  -0.058897       0
2  2020-01-06  1.15929  1.15929  1.15929  1.15929  -0.058897       0
3  2020-01-07  1.15929  1.15929  1.15929  1.15929  -0.058897       0
4  2020-01-08  1.15929  1.15929  1.15929  1.15929  -0.058897       0

In [ ]:
data.tail()

           Date    Open    High     Low   Close  Adj Close  Volume
693  2022-10-03  0.8405  0.8405  0.8405  0.8405     0.8405    6450
694  2022-10-04  0.8405  0.8405  0.8405  0.8405     0.8405       0
695  2022-10-05  0.8405  0.8405  0.8405  0.8405     0.8405       0
696  2022-10-06  0.8405  0.8405  0.8405  0.8405     0.8405       0
697  2022-10-07  0.8405  0.8405  0.8405  0.8405     0.8405       0

In [ ]:
data=data[data.iloc[:,0]>='2021-10-03']

In [ ]:
data.tail()

           Date    Open    High     Low   Close  Adj Close  Volume
693  2022-10-03  0.8405  0.8405  0.8405  0.8405     0.8405    6450
694  2022-10-04  0.8405  0.8405  0.8405  0.8405     0.8405       0
695  2022-10-05  0.8405  0.8405  0.8405  0.8405     0.8405       0
696  2022-10-06  0.8405  0.8405  0.8405  0.8405     0.8405       0
697  2022-10-07  0.8405  0.8405  0.8405  0.8405     0.8405       0

In [ ]:
data.head()

           Date  Open  High  Low  Close  Adj Close  Volume
442  2021-10-04   0.8   0.8  0.8    0.8    0.02125       0
443  2021-10-05   0.8   0.8  0.8    0.8    0.02125       0
444  2021-10-06   0.8   0.8  0.8    0.8    0.02125       0
445  2021-10-07   0.8   0.8  0.8    0.8    0.02125       0
446  2021-10-08   0.8   0.8  0.8    0.8    0.02125       0

In [ ]:
train_data=data[data.iloc[:,0]<'2022-07-03']
train_data=train_data.iloc[::-1]

In [ ]:
train_data.head()

           Date   Open   High    Low  Close  Adj Close  Volume
629  2022-07-01  0.825  0.825  0.825  0.825   0.104319       0
628  2022-06-30  0.825  0.825  0.825  0.825   0.104319       0
627  2022-06-29  0.825  0.825  0.825  0.825   0.104319       0
626  2022-06-28  0.825  0.825  0.825  0.825   0.104319       0
625  2022-06-27  0.825  0.825  0.825  0.825   0.104319    4429

In [ ]:
train_data.tail()

           Date  Open  High  Low  Close  Adj Close  Volume
446  2021-10-08   0.8   0.8  0.8    0.8    0.02125       0
445  2021-10-07   0.8   0.8  0.8    0.8    0.02125       0
444  2021-10-06   0.8   0.8  0.8    0.8    0.02125       0
443  2021-10-05   0.8   0.8  0.8    0.8    0.02125       0
442  2021-10-04   0.8   0.8  0.8    0.8    0.02125       0

In [ ]:
train_data.shape

(188, 7)

In [ ]:
test_data=data[data.iloc[:,0]>='2022-07-03']

In [ ]:
test_data=test_data.iloc[::-1]
test_data.tail()

           Date   Open   High    Low  Close  Adj Close  Volume
634  2022-07-11  0.825  0.825  0.825  0.825   0.104319       0
633  2022-07-08  0.825  0.825  0.825  0.825   0.104319       0
632  2022-07-07  0.825  0.825  0.825  0.825   0.104319       0
631  2022-07-06  0.825  0.825  0.825  0.825   0.104319       0
630  2022-07-05  0.825  0.825  0.825  0.825   0.104319   43787

In [ ]:
training_set = train_data.iloc[:, 1:2].values
#training_set

In [ ]:
#import numpy as np
#training_set=np.flipud(training_set) 
training_set

array([[0.825],
       [0.825],
       [0.825],
       [0.825],
       [0.825],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [1.   ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.96 ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ],
       [0.8  ]])

In [ ]:
real_stock_price = test_data.iloc[:, 1:2].values

In [ ]:
real_stock_price
#real_stock_price=np.flipud(real_stock_price)

array([[0.8405],
       [0.8405],
       [0.8405],
       [0.8405],
       [0.8405],
       [0.9165],
       [0.9165],
       [0.9165],
       [0.9165],
       [0.9165],
       [0.9165],
       [0.9165],
       [0.9074],
       [0.9158],
       [0.9158],
       [0.9158],
       [0.9158],
       [0.9158],
       [0.9158],
       [0.9158],
       [0.9158],
       [0.9158],
       [0.9158],
       [0.9158],
       [0.9158],
       [0.9158],
       [0.9158],
       [0.9158],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ],
       [0.825 ]])

In [ ]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = sc.fit_transform(training_set)

In [ ]:
training_set_scaled.shape

(188, 1)

In [ ]:
import numpy as np
X_train = []
y_train = []
for i in range(63, 183):
    X_train.append(training_set_scaled[i-63:i, 0])
    y_train.append(training_set_scaled[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)

In [ ]:
print(X_train)

[[0.125 0.125 0.125 ... 0.8   0.8   0.8  ]
 [0.125 0.125 0.125 ... 0.8   0.8   0.8  ]
 [0.125 0.125 0.125 ... 0.8   0.8   0.8  ]
 ...
 [0.8   0.8   0.8   ... 0.    0.    0.   ]
 [0.8   0.8   0.8   ... 0.    0.    0.   ]
 [0.8   0.8   0.8   ... 0.    0.    0.   ]]

In [ ]:
print(y_train)

[0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8
 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8
 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8
 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8
 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.
 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. ]

In [ ]:
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

In [ ]:
X_train.shape

(120, 63, 1)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM,GRU
from keras.layers import Dropout
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation, Flatten
from keras.layers.recurrent import LSTM, GRU
from keras.callbacks import ModelCheckpoint, ReduceLROnPlateau, CSVLogger
from keras.layers.wrappers import Bidirectional
from keras import regularizers
from keras.layers.advanced_activations import *
from keras.initializers import *

In [ ]:
x_train.shape[1]

NameError: ignored

In [ ]:
regressor = Sequential()

In [ ]:
regressor.add(Bidirectional(GRU(units = 50, return_sequences=True,input_shape = (X_train.shape[1], 1))))
regressor.add(Dropout(0.2))

In [ ]:
regressor.add(Bidirectional(GRU(units = 50)))
regressor.add(Dropout(0.2))

In [ ]:
#regressor.add(Dense(units = 1))
regressor.add(Dense(32,kernel_initializer="uniform",activation='relu'))        
regressor.add(Dense(1,kernel_initializer="uniform",activation='linear'))

In [ ]:
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

NameError: ignored

In [ ]:
regressor.fit(X_train, y_train, epochs = 40, batch_size = 256)

Epoch 1/40
1/1 [==============================] - 14s 14s/step - loss: 0.4760
Epoch 2/40
1/1 [==============================] - 0s 348ms/step - loss: 0.4695
Epoch 3/40
1/1 [==============================] - 0s 353ms/step - loss: 0.4641
Epoch 4/40
1/1 [==============================] - 0s 332ms/step - loss: 0.4588
Epoch 5/40
1/1 [==============================] - 0s 372ms/step - loss: 0.4525
Epoch 6/40
1/1 [==============================] - 0s 345ms/step - loss: 0.4459
Epoch 7/40
1/1 [==============================] - 0s 335ms/step - loss: 0.4373
Epoch 8/40
1/1 [==============================] - 0s 337ms/step - loss: 0.4268
Epoch 9/40
1/1 [==============================] - 0s 366ms/step - loss: 0.4146
Epoch 10/40
1/1 [==============================] - 0s 336ms/step - loss: 0.4011
Epoch 11/40
1/1 [==============================] - 0s 332ms/step - loss: 0.3844
Epoch 12/40
1/1 [==============================] - 0s 358ms/step - loss: 0.3638
Epoch 13/40
1/1 [==============================] - 0s 353ms/step - loss: 0.3406
Epoch 14/40
1/1 [==============================] - 0s 331ms/step - loss: 0.3126
Epoch 15/40
1/1 [==============================] - 0s 345ms/step - loss: 0.2820
Epoch 16/40
1/1 [==============================] - 0s 339ms/step - loss: 0.2471
Epoch 17/40
1/1 [==============================] - 0s 329ms/step - loss: 0.2095
Epoch 18/40
1/1 [==============================] - 0s 343ms/step - loss: 0.1706
Epoch 19/40
1/1 [==============================] - 0s 337ms/step - loss: 0.1323
Epoch 20/40
1/1 [==============================] - 0s 345ms/step - loss: 0.0977
Epoch 21/40
1/1 [==============================] - 0s 345ms/step - loss: 0.0817
Epoch 22/40
1/1 [==============================] - 0s 349ms/step - loss: 0.0755
Epoch 23/40
1/1 [==============================] - 0s 343ms/step - loss: 0.0979
Epoch 24/40
1/1 [==============================] - 0s 335ms/step - loss: 0.1183
Epoch 25/40
1/1 [==============================] - 0s 343ms/step - loss: 0.1244
Epoch 26/40
1/1 [==============================] - 0s 347ms/step - loss: 0.1268
Epoch 27/40
1/1 [==============================] - 0s 329ms/step - loss: 0.1158
Epoch 28/40
1/1 [==============================] - 0s 338ms/step - loss: 0.0944
Epoch 29/40
1/1 [==============================] - 0s 337ms/step - loss: 0.0840
Epoch 30/40
1/1 [==============================] - 0s 348ms/step - loss: 0.0731
Epoch 31/40
1/1 [==============================] - 0s 337ms/step - loss: 0.0694
Epoch 32/40
1/1 [==============================] - 0s 347ms/step - loss: 0.0700
Epoch 33/40
1/1 [==============================] - 0s 336ms/step - loss: 0.0714
Epoch 34/40
1/1 [==============================] - 0s 333ms/step - loss: 0.0752
Epoch 35/40
1/1 [==============================] - 0s 365ms/step - loss: 0.0757
Epoch 36/40
1/1 [==============================] - 0s 330ms/step - loss: 0.0778
Epoch 37/40
1/1 [==============================] - 0s 331ms/step - loss: 0.0762
Epoch 38/40
1/1 [==============================] - 0s 342ms/step - loss: 0.0739
Epoch 39/40
1/1 [==============================] - 0s 334ms/step - loss: 0.0692
Epoch 40/40
1/1 [==============================] - 0s 335ms/step - loss: 0.0637

In [ ]:
import pandas as pd
dataset_total = pd.concat((train_data('Open'), test_data('Open'), axis=0)))

SyntaxError: ignored

In [ ]:
inputs = dataset_total[len(dataset_total) - len(test_data) - 63:].values
inputs = inputs.reshape(-1,1)

In [ ]:
inputs

In [ ]:
len(inputs)

In [ ]:

inputs = sc.transform(inputs)
X_test = []
for i in range(63, 130):
    X_test.append(inputs[i-63:i, 0])
X_test = np.array(X_test)
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))
predicted_stock_price = regressor.predict(X_test)
predicted_stock_price = sc.inverse_transform(predicted_stock_price)

In [ ]:
XTest=np.reshape(X_test[0],(1,63,1))
X_test.shape

In [ ]:
predicted=[]
for i in range(67):

  p=sc.inverse_transform(regressor.predict(XTest))
  predicted.append(sc.inverse_transform(regressor.predict(XTest)))
  XTest=np.reshape(XTest,(63))
  XTest=np.delete(XTest,0)
  XTest=np.append(XTest,sc.transform(p))
  XTest=np.reshape(XTest,(1,63,1))

In [ ]:
predicted_stock_price_60days=np.reshape(predicted,(67,1))

In [ ]:
predicted_stock_price

NameError: ignored

In [ ]:
import matplotlib.pyplot as plt
plt.plot(real_stock_price, color = 'red', label = 'Real Google Stock Price')
plt.plot(predicted_stock_price, color = 'blue', label = 'Predicted Google Stock Price - One step time series forecast')
plt.plot(predicted_stock_price_60days, color = 'orange', label = 'Predicted Google Stock Price - Multistep time series forecast')
plt.ylim(700,1400)
plt.xticks(np.arange(67),test_data['timestamp'], rotation='vertical')
plt.title('Google Stock Price Prediction')
plt.xlabel('Time')
plt.ylabel('Google Stock Price')
plt.legend()
plt.show()

In [ ]:
real_stock_price.shape

In [ ]:
from sklearn import metrics
np.sqrt(metrics.mean_squared_error(real_stock_price,predicted_stock_price[0:67]))

In [ ]:
def cal_target(df):
    list_y =[]
    temp = df
    for i in range(len(temp)-1):
        if temp[i+1] > temp[i]:
            y = 1
        else:
            y = -1
            
        list_y.append(y)
    ydf = pd.DataFrame(list_y)
    return ydf

In [ ]:
real_stock_price_trend = cal_target(real_stock_price)
predicted_stock_price_trend =cal_target(predicted_stock_price[0:67])

In [ ]:
real_df = pd.DataFrame(real_stock_price_trend)
pred_df = pd.DataFrame(predicted_stock_price_trend)
acc_df = pd.concat((real_df[0],pred_df[0]), axis=1)
acc_df.head(100)

In [ ]:
from sklearn.metrics import accuracy_score
score = accuracy_score(real_stock_price_trend, predicted_stock_price_trend)
print(score)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(real_stock_price_trend, predicted_stock_price_trend))

In [ ]:
from sklearn.metrics import f1_score
f1_score(real_stock_price_trend, predicted_stock_price_trend)

In [ ]:
for i in range(1,10):
  print (f'For Epoch {10*i} \n')
  regressor = Sequential()
  regressor.add(Bidirectional(GRU(units = 50, return_sequences=True,input_shape = (X_train.shape[1], 1))))
  regressor.add(Dropout(0.2))
  regressor.add(Bidirectional(GRU(units = 50)))
  regressor.add(Dropout(0.2))
  regressor.add(Dense(32,kernel_initializer="uniform",activation='relu'))        
  regressor.add(Dense(1,kernel_initializer="uniform",activation='linear'))
  regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')
  regressor.fit(X_train, y_train, epochs = 10*i, batch_size = 256,verbose=0)
  predicted_stock_price = regressor.predict(X_test)
  predicted_stock_price = sc.inverse_transform(predicted_stock_price)
  print(f' RMSE value for {i*10} ephocs is {np.sqrt(metrics.mean_squared_error(real_stock_price,predicted_stock_price[0:67]))} \n')

In [ ]:
batch = [100,200,256,300,400]
for i in batch:
  print (f'For Batch size of  {i} \n')
  regressor = Sequential()
  regressor.add(Bidirectional(GRU(units = 50, return_sequences=True,input_shape = (X_train.shape[1], 1))))
  regressor.add(Dropout(0.2))
  regressor.add(Bidirectional(GRU(units = 50)))
  regressor.add(Dropout(0.2))
  regressor.add(Dense(32,kernel_initializer="uniform",activation='relu'))        
  regressor.add(Dense(1,kernel_initializer="uniform",activation='linear'))
  regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')
  regressor.fit(X_train, y_train, epochs = 40, batch_size = i,verbose=0)
  predicted_stock_price = regressor.predict(X_test)
  predicted_stock_price = sc.inverse_transform(predicted_stock_price)
  print(f' RMSE value for batch size of  {i} is {np.sqrt(metrics.mean_squared_error(real_stock_price,predicted_stock_price[0:67]))} \n')

In [ ]:
activations = ['relu','linear','tanh','softmax','elu','selu']

for acti in activations:
  print(f'Activation function = {acti} \n')
  regressor = Sequential()
  regressor.add(Bidirectional(GRU(units = 50, return_sequences=True,input_shape = (X_train.shape[1], 1))))
  regressor.add(Dropout(0.2))
  regressor.add(Bidirectional(GRU(units = 50)))
  regressor.add(Dropout(0.2))
  regressor.add(Dense(32,kernel_initializer="uniform",activation=acti))        
  regressor.add(Dense(1,kernel_initializer="uniform",activation=acti))
  regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')
  
  regressor.fit(X_train, y_train, epochs = 40, batch_size = 256,verbose=0)
  predicted_stock_price = regressor.predict(X_test)
  predicted_stock_price = sc.inverse_transform(predicted_stock_price)
  print(f' RMSE value for {acti} activation function is {np.sqrt(metrics.mean_squared_error(real_stock_price,predicted_stock_price[0:67]))} \n')

In [ ]:
for i in range(1,6):
  print (f'For  {10*i} Hidden Layers \n')
  regressor = Sequential()
  regressor.add(Bidirectional(GRU(units = 10*i, return_sequences=True,input_shape = (X_train.shape[1], 1))))
  regressor.add(Dropout(0.2))
  regressor.add(Bidirectional(GRU(units = 10*i)))
  regressor.add(Dropout(0.2))
  regressor.add(Dense(32,kernel_initializer="uniform",activation='relu'))        
  regressor.add(Dense(1,kernel_initializer="uniform",activation='linear'))
  regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')
  regressor.fit(X_train, y_train, epochs = 40, batch_size = 256,verbose=0)
  predicted_stock_price = regressor.predict(X_test)
  predicted_stock_price = sc.inverse_transform(predicted_stock_price)
  print(f' RMSE value for {i*10} hidden layers is {np.sqrt(metrics.mean_squared_error(real_stock_price,predicted_stock_price[0:67]))} \n')

In [ ]:
regressor = Sequential()
regressor.add(Bidirectional(GRU(units = 50, return_sequences=True,input_shape = (X_train.shape[1], 1))))
regressor.add(Dropout(0.2))
regressor.add(Bidirectional(GRU(units = 50)))
regressor.add(Dropout(0.2))
regressor.add(Dense(32,kernel_initializer="uniform",activation='relu'))        
regressor.add(Dense(1,kernel_initializer="uniform",activation='linear'))
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')
regressor.fit(X_train, y_train, epochs = 90, batch_size = 256,verbose=0)
predicted_stock_price = regressor.predict(X_test)
predicted_stock_price = sc.inverse_transform(predicted_stock_price)
print(f' RMSE value for fine tuned model is is {np.sqrt(metrics.mean_squared_error(real_stock_price,predicted_stock_price[0:67]))} \n')

In [ ]:
import matplotlib.pyplot as plt
plt.plot(real_stock_price, color = 'red', label = 'Real MTPOF Stock Price')
plt.plot(predicted_stock_price, color = 'blue', label = 'Predicted MTPOF Stock Price - One step time series forecast')
plt.plot(predicted_stock_price_60days, color = 'orange', label = 'Predicted MTPOF Stock Price - Multistep time series forecast')
plt.ylim(700,1400)
plt.xticks(np.arange(67),test_data['timestamp'], rotation='vertical')
plt.title('MTPOF Stock Price Prediction')
plt.xlabel('Time')
plt.ylabel('MTPOF Stock Price')
plt.legend()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.plot(data['open'])

In [ ]:
plt.figure(figsize=(16,6))
plt.plot(data['open'].rolling(window=12,center=False).mean(),label='Rolling Mean');
plt.plot(data['open'].rolling(window=12,center=False).std(),label='Rolling sd');
plt.legend();

In [ ]:
import statsmodels.api as sm
# multiplicative
res = sm.tsa.seasonal_decompose(data['open'].values,freq=12,model="multiplicative")
#plt.figure(figsize=(16,12))
fig = res.plot()

In [ ]:
data=pd.read_csv("daily_GOOGL.csv")
data=data[data.iloc[:,0]>='2015-01-01']
train_data=data[data.iloc[:,0]<'2018-08-01']
train_data=train_data.iloc[::-1]
test_data=data[data.iloc[:,0]>='2018-08-01']
test_data=test_data.iloc[::-1]
test_data.tail()
training_set = train_data.iloc[:, 1:2].values
import numpy as np

In [ ]:
train_data

In [ ]:
training_set

In [ ]:
import statsmodels.api as sm
# multiplicative
res = sm.tsa.seasonal_decompose(training_set[0:252],freq=21,model="multiplicative")
#plt.figure(figsize=(16,12))
fig = res.plot()

In [ ]:
import statsmodels.api as sm
# multiplicative
res = sm.tsa.seasonal_decompose(training_set[252:505],freq=12,model="multiplicative")
#plt.figure(figsize=(16,12))
fig = res.plot()

In [ ]:
import statsmodels.api as sm
# multiplicative
res = sm.tsa.seasonal_decompose(training_set[505:755],freq=12,model="multiplicative")
#plt.figure(figsize=(16,12))
fig = res.plot()

In [ ]:
import statsmodels.api as sm
# multiplicative
res = sm.tsa.seasonal_decompose(training_set[755:],freq=12)
#plt.figure(figsize=(16,12))
fig = res.plot()

In [ ]:
import statsmodels.api as sm
# multiplicative
res = sm.tsa.seasonal_decompose(training_set,freq=120)
#plt.figure(figsize=(16,12))
fig = res.plot()

In [ ]:
train_data.iloc[0:252,:]